<div class="jumbotron">
  <h1 class="text-center">Eaj Password Manager</h1>
  <p class="text-center">Save all your password in one place</p>
  <p class="text-center">
    <a class="btn btn-primary btn-lg" href="/passwords/new" role="button">Create Password</a>
  </p>
  <p class="text-center">
    <a href="/passwords">View your passwords</a>
  </p>
</div>

