<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Jae's Password Manager</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
   <div class="container">
   <% if session[:success] %>
    <p class="alert alert-success"><%= session.delete(:success) %></p>
   <% end %>

   <% if session[:error] %>
    <p class="alert alert-warning"><%= session.delete(:error) %></p>
   <% end %>

    <%== yield %>
   </div>
</body>
</html>